RegistrationWeb/WebTests/Service References/ServiceReference/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost/DataClient/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost/DataClient/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/DataClient/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetStudents_InputMessage">
    <wsdl:part name="parameters" element="tns:GetStudents" />
  </wsdl:message>
  <wsdl:message name="IService_GetStudents_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetStudentsResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetCourses_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCourses" />
  </wsdl:message>
  <wsdl:message name="IService_GetCourses_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCoursesResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:AddStudent" />
  </wsdl:message>
  <wsdl:message name="IService_AddStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_AddCourse_InputMessage">
    <wsdl:part name="parameters" element="tns:AddCourse" />
  </wsdl:message>
  <wsdl:message name="IService_AddCourse_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCourseResponse" />
  </wsdl:message>
  <wsdl:message name="IService_EnrollStudent_InputMessage">
    <wsdl:part name="parameters" element="tns:EnrollStudent" />
  </wsdl:message>
  <wsdl:message name="IService_EnrollStudent_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnrollStudentResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getStudentSchedule_InputMessage">
    <wsdl:part name="parameters" element="tns:getStudentSchedule" />
  </wsdl:message>
  <wsdl:message name="IService_getStudentSchedule_OutputMessage">
    <wsdl:part name="parameters" element="tns:getStudentScheduleResponse" />
  </wsdl:message>
  <wsdl:message name="IService_getCourseRoster_InputMessage">
    <wsdl:part name="parameters" element="tns:getCourseRoster" />
  </wsdl:message>
  <wsdl:message name="IService_getCourseRoster_OutputMessage">
    <wsdl:part name="parameters" element="tns:getCourseRosterResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetStudents">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetStudents" message="tns:IService_GetStudents_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetStudentsResponse" message="tns:IService_GetStudents_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetCourses" message="tns:IService_GetCourses_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetCoursesResponse" message="tns:IService_GetCourses_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddStudent" message="tns:IService_AddStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddStudentResponse" message="tns:IService_AddStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/AddCourse" message="tns:IService_AddCourse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/AddCourseResponse" message="tns:IService_AddCourse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="EnrollStudent">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/EnrollStudent" message="tns:IService_EnrollStudent_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/EnrollStudentResponse" message="tns:IService_EnrollStudent_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getStudentSchedule">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getStudentSchedule" message="tns:IService_getStudentSchedule_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getStudentScheduleResponse" message="tns:IService_getStudentSchedule_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getCourseRoster">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/getCourseRoster" message="tns:IService_getCourseRoster_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/getCourseRosterResponse" message="tns:IService_getCourseRoster_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetStudents">
      <soap:operation soapAction="http://tempuri.org/IService/GetStudents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCourses">
      <soap:operation soapAction="http://tempuri.org/IService/GetCourses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddStudent">
      <soap:operation soapAction="http://tempuri.org/IService/AddStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddCourse">
      <soap:operation soapAction="http://tempuri.org/IService/AddCourse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnrollStudent">
      <soap:operation soapAction="http://tempuri.org/IService/EnrollStudent" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getStudentSchedule">
      <soap:operation soapAction="http://tempuri.org/IService/getStudentSchedule" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseRoster">
      <soap:operation soapAction="http://tempuri.org/IService/getCourseRoster" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost/DataClient/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>