RegistrationWeb/RegistrationWeb.Client/Service References/ServiceReference/Service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/DataClient/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" />
  <xs:element name="GetStudents">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetStudentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" minOccurs="0" name="GetStudentsResult" nillable="true" type="q1:ArrayOfStudentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCourses">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCoursesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" minOccurs="0" name="GetCoursesResult" nillable="true" type="q2:ArrayOfCourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" minOccurs="0" name="student" nillable="true" type="q3:StudentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" minOccurs="0" name="course" nillable="true" type="q4:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddCourseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AddCourseResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollStudent">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" minOccurs="0" name="student" nillable="true" type="q5:StudentDAO" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" minOccurs="0" name="course" nillable="true" type="q6:CourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="EnrollStudentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="EnrollStudentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentSchedule">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="studentid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getStudentScheduleResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" minOccurs="0" name="getStudentScheduleResult" nillable="true" type="q7:ArrayOfCourseDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourseRoster">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="courseid" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getCourseRosterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/RegistrationDataClient.Model" minOccurs="0" name="getCourseRosterResult" nillable="true" type="q8:ArrayOfStudentDAO" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>